@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}
button{
  padding: 8px 16px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.header,.footer{
  display:flex;
  justify-content:space-between;
  padding: 16px;
}
.left-links,.right-links{
  display: flex;
  justify-content: space-between;
  gap:18px;

}
.footer{
  background-color:#eeeeee;
}
.content{
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

ul{
  margin:0;
  padding:0;
  list-style:none;
}
a{
  text-decoration: none;
  color:rgb(83, 83, 83);
}
